body {
  margin: 0;
  display: flex;
  width: 100vw;
  justify-content: center;
  background-color: black;
  font-family: "Inter", sans-serif;
}

h1 {
  color: #fff;
  font-size: 50px;
  line-height: 1.1;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  margin: 0;
  line-height: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #000;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #119b26;
  }
}
  
.desktopStep2sliders {
  position: relative;
  background-color: #000;

  overflow: hidden;
  text-align: center;
  align-content: top;
  justify-content: center;
  height: 1080px;
  color: #fff;
  font-family: Inter;
  width: 100vw;
} */
